# -----------------------------
# Data / Lakehouse
# -----------------------------
data/
*.csv
*.parquet

# -----------------------------
# Spark / Delta
# -----------------------------

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
.venv/
.env

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/
